<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/globals.css">
    <link rel="stylesheet" href="/static/404.css">
    <link rel="icon" href="/media/icon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
    <div class="error">
        <div class="errorIcon">
            <img src="/media/error.svg" alt="error">
        </div>
        <h1 class="unknownPage">unknown page</h1>
        <p class="errorInfo">Error information: <%= error %></p>
    </div>
</body>
</html>
