html {
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

* {
    color: white;
}

.unknownPage {
    text-transform: uppercase;
}

.error {
    text-align: center;
}

.error img {
    width: 128px;
    height: 128px;
}

.errorIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorInfo {
    color: rgb(180, 180, 180);
}
