* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    color: white;
}


.sending {
    position: fixed;
    width: 100%;
    height: 60px;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
}

.sending input {
    width: 90%;
    height: 100%;
    outline: none;
    font-size: 100%;
}

.sending button {
    cursor: pointer;
    outline: none;
    border: none;
    width: 10%;
    height: 100%;
}
