html, body {
    background-color: rgb(5,5,5);
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
}

p {
    color: white;
}


.sending {
    position: fixed;
    width: 100%;
    height: 60px;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
}

.sending input {
    width: 90%;
    height: 100%;
    outline: none;
    font-size: 100%;
    background-color: rgb(15,15,15);
    color: white;
}

.sending button {

    cursor: pointer;
    outline: none;
    border: none;
    width: 10%;
    height: 100%;
    background-color: rgb(15,15,15);
    color: white;
}

.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    padding-bottom: 100px;
}

.content .message {
    border: 1px solid rgb(99, 99, 99);
    padding: 10px;
    border-radius: 10px;
    color: white;
    max-width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    word-wrap: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.my {
    background-color: rgb(15,15,15);
}


.message .avatar {
    width: 32px;
    height: 32px;
}


.message .username {
    height: 100%;
    color: white;
    transition: all 0.1s;
}

.message .username:hover {
    color: rgb(82, 137, 255);
}
