html, body {
    background-color: rgb(40,40,40);
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    color: white;
}


.sending {
    position: fixed;
    width: 100%;
    height: 60px;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
}

.sending input {
    width: 90%;
    height: 100%;
    outline: none;
    font-size: 100%;
}

.sending button {
    cursor: pointer;
    outline: none;
    border: none;
    width: 10%;
    height: 100%;
}

.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

.content .message {
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    color: white;
    max-width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
