@charset "UTF-8";

html, body {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    padding-top: 110px;
    background-color: var(--el-bg);
    color-scheme: dark;
}

:root {
    --el-bg: rgb(5,5,5)
}

* {
    margin: none;
    font-family: "Geist", "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;;
}

a {
    color: rgb(82, 137, 255);
}

button {
    font-size: 100%;
    cursor: pointer;
    padding: 5px;
    border: none;
    outline: none;
}

input {
    border: none;
    outline: none;
}