html, body {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 110px;
    background-color: var(--el-bg);
}

:root {
    --el-bg: rgb(30,30,30)
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: rgb(82, 137, 255);
}