.newgameButton, .newwebsiteButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 10px;
    order: 999;
    transition: all 0.15s;
}

.newgameButton svg, .newwebsiteButton svg {
    transform:scale(1.4);
    transition: all 0.1s;
}

.newgameButton svg:hover, .newwebsiteButton svg:hover {
    transform: scale(1.5);
}

.settings, .menu, .chat {
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 10px;
    transition: all 0.15s;
    background-color: rgb(30,30,30);
    padding: 10px;
    border-radius: 50%;
}

.settings:hover, .menu:hover, .chat:hover {
    background-color: rgb(55,55,55);
}


.settings img, .menu img, .chat img {
    width: 32px;
    height: 32px;
}

.menu .menuChild {
    opacity: 0;
}
